.button {
    width: 194px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    border-style: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins-bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    background: #FDBA10;
}