.card {
    border-radius: 30px;
    border: 1px solid #FFD8AB;

    &__text {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px;
    }

    &__title {
        padding-bottom: 10px;
    }

    &__img {
        overflow: hidden;
    }

    &__rating {
        color: #C98A40;
    }

    &--rating {
        background-color: white;
        border: none;
    }
}
