.card {
    width: 385px;
    border-radius: 30px;
    border: 1px solid #FFD8AB;

    &--size-l {
        width: 512px;
    }

    &__text {
        padding: 30px;
    }

    &__title {
        padding-bottom: 10px;
    }

    &__img {
        overflow: hidden;
    }
}

.card--size-l .card__text {
    padding-left: 50px;
    padding-right: 50px;
}