@font-face {
  font-family: Sen;
  src: url(../fonts/Sen-Font/Sen-Bold.woff);
}

.header {
  background: #C98A40;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 34px;
    gap: 16px;
  }


  &__logo {
    width: 53px;
    height: 52px;
  }


  &__title {
    color: #FFF;
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  &__title--small {
    font-size: 16px;
  }
}