.header {
  max-width: 1200px;
  margin: 0 auto;
  background: #C98A40;
  padding-top: 34px;

  &__container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__logo {
    width: 53px;
    height: 52px;
  }


  &__title {
    color: #FFF;
    font-family: Sen-bold;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  &__title--small {
    font-size: 16px;
  }
}