.services {
    background-color: white;
    padding-top: 108px;
    padding-bottom: 50px;

    &__title {
        text-align: center;
        padding-bottom: 50px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 50px;
    }
}