.tasty-pastries {
    background-image: url(../img/Beans_img.png);
    background-position: right;
    background-repeat: no-repeat;

    &__title {
        padding-top: 194px;
    }

    &__description {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

.contacts {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;


    &__socials {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}